.container {
  padding: 0 2.4rem;
}
.hero-container {
  position: relative;
}
.hero {
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  z-index: 1;
}
.hero-tablet {
  display: none;
}
.hero-desktop {
  display: none;
}
.text-content {
  position: relative;
  z-index: 5;
  padding: 11.1rem 2.4rem 0;
  text-align: center;
  margin-bottom: 20.7rem;
}
.text-content h1 {
  color: var(--light-cream-bg);
  font-size: 2.8rem;
  line-height: 2.8rem;
  margin-bottom: 2.4rem;
}
.text-content p {
  color: var(--light-cream-bg);
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 0.8;
}
.commitment {
  margin-bottom: 19.8rem;
}
.commitment img {
  width: 100%;
  border-radius: 0.8rem;
  margin-bottom: 4.8rem;
}
.commitment .tablet,
.commitment .desktop {
  display: none;
}
.commitment h2 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  text-align: center;
  margin-bottom: 3rem;
}
.commitment p,
.uncompromising-quality p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}
.uncompromising-quality {
  background-color: #2c343e;
  border-radius: 1rem;
  padding: 0 2.4rem 6.1rem;
  margin-bottom: 12rem;
}
.uncompromising-quality img {
  width: 100%;
  border-radius: 0.8rem;
  margin-top: -7.8rem;
  margin-bottom: 6.4rem;
}
.uncompromising-quality .tablet,
.uncompromising-quality .desktop {
  display: none;
}
.uncompromising-quality h3 {
  font-size: 2.8rem;
  line-height: 2.8rem;
  color: var(--light-cream-bg);
  text-align: center;
  margin-bottom: 2.4rem;
}
.uncompromising-quality p {
  color: var(--light-cream-bg);
  opacity: 0.8;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
  .hero-mobile {
    display: none;
  }
  .hero-tablet {
    display: initial;
  }
  .text-content {
    text-align: left;
    padding: 11.8rem 24rem 0 5.8rem;
    margin-bottom: 26.2rem;
  }
  .text-content h1 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .commitment .mobile {
    display: none;
  }
  .commitment .tablet {
    display: initial;
  }
  .commitment img {
    margin-bottom: 0;
  }
  .commitment {
    display: flex;
    column-gap: 6.9rem;
    margin-bottom: 30.4rem;
  }
  .commitment h2 {
    text-align: left;
    margin-top: 0.8rem;
  }
  .commitment p {
    text-align: left;
  }
  .uncompromising-quality {
    padding: 0 5.8rem 6.7rem;
    margin-bottom: 14.4rem;
  }
  .uncompromising-quality .mobile {
    display: none;
  }
  .uncompromising-quality .tablet {
    display: initial;
  }
  .uncompromising-quality .tablet {
    margin-top: -16rem;
  }
  .uncompromising-quality h3 {
    font-size: 3.3rem;
    line-height: 4.8rem;
  }
  .uncompromising-quality p {
    padding: 0 1.7rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .hero-tablet {
    display: none;
  }
  .hero-desktop {
    display: initial;
  }
  .text-content {
    padding: 10rem 50% 0 5.8rem;
  }
  .commitment {
    padding: 0 8.5rem;
  }
  .commitment .tablet {
    display: none;
  }
  .commitment .desktop {
    display: initial;
    width: 40%;
  }
  .commitment {
    align-items: center;
  }
  .commitment h2 {
    margin-top: 0;
    margin-bottom: 3.2rem;
  }
  .uncompromising-quality {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 7rem;
    padding-top: 2rem;
  }
  .uncompromising-quality .tablet {
    display: none;
  }
  .uncompromising-quality .desktop {
    display: initial;
    margin-bottom: 0;
    width: 40%;
  }
  .uncompromising-quality p {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 8rem;
  }
  .text-content {
    padding: 13.7rem 75.9rem 0 8.5rem;
    margin-bottom: 30.5rem;
  }
  .commitment {
    column-gap: 12.5rem;
    margin-bottom: 25.6rem;
  }
  .uncompromising-quality {
    column-gap: 12.5rem;
    padding: 0 8.5rem 8.8rem;
  }
  .commitment .desktop,
  .uncompromising-quality .desktop {
    width: 100%;
  }
  .text-content h1,
  .commitment h2,
  .uncompromising-quality h3 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .text-content p,
  .commitment p,
  .uncompromising-quality p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
