.home {
  padding: 0 2.4rem;
}
.hero-container {
  position: relative;
}
.hero {
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  z-index: 1;
}
.hero-tablet {
  display: none;
}
.hero-desktop {
  display: none;
}
.text-content {
  position: relative;
  z-index: 5;
  padding: 10rem 2.4rem 21.9rem;
  text-align: center;
}
.text-content h1 {
  color: var(--light-cream-bg);
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 2.4rem;
}
.text-content p {
  color: var(--light-cream-bg);
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 0.8;
  margin-bottom: 3.9rem;
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 12rem;
}
.button-container {
  width: 21.7rem;
  margin: 0 auto;
}

/* Tablet */
@media (min-width: 768px) {
  .home {
    padding: 0 4rem;
  }
  .hero-mobile {
    display: none;
  }
  .hero-tablet {
    display: initial;
  }
  .text-content {
    padding: 10.4rem 23.3rem 24.8rem 5.8rem;
    text-align: left;
  }
  .text-content h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  .button-container {
    margin: initial;
  }
  .content {
    row-gap: 14.4rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .hero-tablet {
    display: none;
  }
  .hero-desktop {
    display: initial;
  }
  .text-content {
    padding: 8rem 46rem 24.8rem 5.8rem;
  }
  .text-content h1 {
    font-size: 5.6rem;
    line-height: 5.6rem;
  }
  .content {
    row-gap: 20rem;
  }
}
@media (min-width: 1440px) {
  .home {
    padding: 0 8rem;
  }
  .text-content {
    padding: 11.7rem 68rem 25.2rem 8.5rem;
  }
  .text-content h1 {
    font-size: 7.2rem;
    line-height: 7.2rem;
  }
  .text-content p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-right: 6rem;
  }
}
