/* .container {
} */
.first-subcontainer {
  padding: 0 2.4rem;
}
.hero-container {
  position: relative;
}
.hero {
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  z-index: 1;
}
.hero-tablet,
.hero-desktop {
  display: none;
}
.text-content {
  position: relative;
  z-index: 5;
  padding: 10.1rem 2.4rem 0;
  text-align: center;
  margin-bottom: 25.6rem;
}
.text-content h2 {
  color: var(--light-cream-bg);
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 2.2rem;
}
.text-content p {
  color: var(--light-cream-bg);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* Tablet */
@media (min-width: 768px) {
  .hero-mobile {
    display: none;
  }
  .hero-tablet {
    display: initial;
  }
  .first-subcontainer {
    padding: 0 4rem;
  }
  .text-content {
    text-align: left;
    padding: 12.7rem 23.3rem 0 5.8rem;
    margin-bottom: 27rem;
  }
  .text-content h2 {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 2.4rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .hero-tablet {
    display: none;
  }
  .hero-desktop {
    display: initial;
  }
  .text-content {
    padding: 11rem 50% 0 8.5rem;
  }
}
@media (min-width: 1280px) {
  .text-content h2 {
    font-size: 7.2rem;
    line-height: 7.2rem;
    margin-bottom: 3.2rem;
  }
  .text-content p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
@media (min-width: 1440px) {
  .first-subcontainer {
    padding: 0 8rem;
  }
  .text-content {
    padding: 13.4rem 69.5rem 0 8.5rem;
    margin-bottom: 30.2rem;
  }
}
