.container h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  margin-bottom: 8rem;
  color: var(--grey);
}
.steps-container {
  display: flex;
  flex-direction: column;
  row-gap: 5.6rem;
  margin-bottom: 7.9rem;
}
.step {
  text-align: center;
}
.step .number {
  color: var(--pale-orange);
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-weight: 900;
  font-family: "Fraunces", serif;
  margin-bottom: 2.4rem;
}
.step .title {
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin-bottom: 2.4rem;
}
.step .description {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.button-container {
  text-align: center;
}
.dark-color {
  background-color: #2c343e;
  border-radius: 1rem;
  padding: 8rem 2.4rem;
  margin-bottom: 12rem;
}
.dark-color .title,
.dark-color .description {
  color: #ffffff;
}
.figure {
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
  .container h2 {
    text-align: left;
    margin-bottom: 4rem;
  }
  .steps-container {
    flex-direction: row;
    row-gap: 0;
    column-gap: 3.3rem;
    margin-bottom: 4.4rem;
  }
  .step {
    text-align: left;
    flex: 1;
  }
  .figure {
    display: flex;
    align-items: center;
    width: 51rem;
    margin-bottom: 4.8rem;
  }
  .figure .circule {
    border: 0.2rem solid var(--dark-cyan);
    height: 3.1rem;
    width: 3.1rem;
    border-radius: 50%;
  }
  .figure .line {
    border: 0.1rem solid var(--pale-orange);
    width: 41%;
  }
  .button-container {
    text-align: left;
  }
}
